body    {
    font-size:  14pt;
    font-family: Veranda, Geneva, Arial, Helvetica, san-serif;
    line-height: 14pt;
    padding-left:   5pt;
    padding-right:  5pt;
    padding-top:    3pt;
    color: black;
    border-color:black;
    border-style: double;
}

h1  {
    font: 60pt Arial;
    text-align: center;
    font-weight: bold;
    line-height: 12pt;
    color: red;
}

h1.silly    {
    font: 60pt Arial, Roman;
}

h2  {
    color: black;
    font: 24pt Verdana, Geneva, Arial, Helvetica, sans-serif;
    text-align: center;
}
     
h3  {
    text-align: center;
}

p   {
    font: 24pt Verdana, Geneva, Arial, Helvetica, sans-serif;
    text-align: center;
}

img {
    padding: 3pt;
    display: block;
    margin: 0 auto;
    text-align: center;
    border-color:black;
    border-style: solid;
}

a   {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.blink_text {

    animation:1s blinker linear infinite;
    -webkit-animation:1s blinker linear infinite;
    -moz-animation:1s blinker linear infinite;

     color: red;
     display: block;
     margin: 0 auto;
     text-align: center;
     padding-top: 2%;
     padding-bottom: 2%;
     font-size: 18pt;
    }

    @-moz-keyframes blinker {  
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
     }

    @-webkit-keyframes blinker {  
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
     }

    @keyframes blinker {  
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
     }

footer p {    
    font-size:  12pt;
    font-style: italic;
    line-height: 8pt;
    text-align: center;
    color: black;
    padding-top: 30pt;
}    
